.footer {
    padding: 70px 0 50px 0;
    color: white;
    background-color: deepskyblue;
  }
  .footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .footContainer {
        display: flex;
        gap: 20px;
        a {
            .social {
                height: 55px;
                width: 55px;
              }
          }
        } 
      .copy {
        text-align: end;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
      }
  }


  
