.jumbotron {
  margin-bottom: 0rem;
  border-radius: none;
  padding: 19.5rem 2rem;
  background-color: deepskyblue;
  margin-bottom: 60px;
  .jumboText {
    color: white;
    .aboutMeBtn {
      font-weight: bold;
      color: white;
      background-color: inherit;
      border-radius: 3px;
      border: 2px solid white;
      font-size: 1.5em;
      padding: 8px 16px;
    }
    .aboutMeBtn:hover {
      background-color: white;
      color: deepskyblue;
    }
  }
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contactContainer {
  width: 100%;
}

.skillsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

// .inputStyle {
//   margin: 4px 0px;
// }
// textarea {
//   min-height: 150px;
// }