#root {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .maximum-width-container {
    width: 1080px;
    margin: auto;
  }

  .section-margin {
    margin-bottom: 60px;
  }

  .social {
    height: 55px;
    width: 55px;
  }

  .me {
    border-radius: 15px;
    margin-bottom: 25px;
  }

  .JotFormIFrame-212546461098156 {
    display: block;
    width: 100%;
    height: 100%;
  }