.navbar {
    background-color: deepskyblue;
    .navFlexContainer {
        display: flex;
        flex-direction: row;
        padding: 24px 0px;
        .navbarBrand {
            color: white;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 1.5rem;
            font-size: 2rem;
            line-height: inherit;
            white-space: nowrap;
        }
        .navbarNav {
            width: 100%;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 0 20px;
            padding: 0;
            margin: 0;
            align-items: center;
            .navItem {
                color: white;
                .navLink {
                    color: white;
                }
                .navLink:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}