  .progress {
    color: #000!important;
    background-color: #f1f1f1!important;
    height: 25px;
    border-radius: 3px;
    .progressBar {
        color: #fff!important;
        background-color: #2196F3!important;
        height: 100%;
        align-content: center;
        border-radius: 3px;
        .skillData {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-content: center;
            justify-content: space-between;
            padding: 0px 10px;
            height: inherit;
            .dataItem {
                vertical-align: middle;
                line-height: 25px;
            }
          }
      }
  }